{% extends 'base.html' %}

{% block content %}
<h1>Locations</h1>
<a href="{% url 'machines:location_create' %}" class="btn btn-primary mb-3">Add Location</a>
<ul class="list-group">
    {% for location in locations %}
    <li class="list-group-item">
        <a href="{% url 'machines:location_update' location.pk %}">{{ location.name }}</a>
        <span class="text-muted">{{ location.address }}</span>
        <a href="{% url 'machines:location_delete' location.pk %}" class="btn btn-danger btn-sm float-end">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}